/* Banner and image. */
.banner {
  position: relative;
  text-align: center;
  padding: 20px 20px;
}

.bannerImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.profilePicContainer {
  position: absolute;
  top: 100px;
  left: 150px;
  transform: translateX(-50%);
  width: 50%;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-size: cover;
}

.editButton {
  display: flex;
  justify-content: end;
}

.editButton button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  background-color: #ff66b2;
}

.profileContent h2 {
  font-size: 2em;
  color: #333;
}

.profileContent p {
  font-family: Gilroy-Light;
  margin: 10px 0px;
}

/* Adjustment */
.profileData {
  display: flex;
  flex-wrap: wrap;
}

.spaceLeft {
  flex: 1;
}

.leftProfileData {
  flex: 4;
}

.rightProfileData {
  flex: 1.5;
  margin: 10px 10px;
}

.leftProfileData .description {

  text-align: left;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 20px;
  border: 0.5px solid black;
  font-family: Gilroy-Light;
}




/* Stats container */
.statsContainer {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  gap: 20px;
}

.statBox {
  background-color: #fff;
  padding: 20px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 33%;
  border: 1px solid black;
}

.statBox p {
  color: #666;
  margin: 0;
}

.statBox h3 {
  margin: 10px 0;
  color: #333;
}


/* Social Card */
.socialStats {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  border: 1px solid black;
}

.socialStats h3 {
  color: #000;
}

.socialBox {
  margin-bottom: 10px;
}

.socialBox p {
  color: #666;
  margin: 5px 0;
}


@media (max-width:480px) {
  .leftProfileData .description {

    text-align: center;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 20px;
    border: 0.5px solid black;
    font-family: Gilroy-Light;
  }
  
}