/* Existing styles */
.SignupForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: Gilroy-Medium;
}

.formImage {
  width: 50%;
}

.brandContainer {
  width: 100%;
}

.brandContainer .inputField {
  width: 330px;
}

.formImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  max-width: 800px;
  object-fit: contain;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.formContainer {
  background: linear-gradient(93.27deg, #ea0063 5.26%, #ff74af 106.71%);
  border-radius: 12px;
  margin: 40px 0;
  box-shadow: rgba(0, 0, 0, 0.393) 6px 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: white;
}

.form {
  padding: 0 20px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  color: white;
  font-family: Gilroy-Bold;
}

.description {
  font-size: 12px;
  color: white;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.inputField {
  width: 100%;
  padding: 15px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.436);
}

.selectField{
  width: 100%;
  outline: none;
  margin-bottom: 7px;
  border-radius: 50px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.436);
}
Select{
  border-radius: 50px;
}

.authButton {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.436);
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(10, 10, 10);
  transition: background-color 0.3s, color 0.3s;
}

.authButton.activeButton {
  background-color: #9819ec;
  color: white;
}

.authButton.inactiveButton {
  background-color: #ffffff;
  color: rgb(10, 10, 10);
}

.submitButton {
  width: 100%;
  padding: 30px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.436);
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 12px 0;
}



@media (max-width: 1024px) {
  .inputText,
  .textareaText,
  .button {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .formContainer {
    padding: 24px;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 16px;
  }

  .submitButton,
  .connectButton {
    width: 100%;
  }

  .form {
    padding: 15px;
  }

  .authButton,
  .submitButton {
    padding: 16px;
  }

  .buttonRow {
    flex-direction: column;
  }

  .authButton {
    width: 100%;
    margin-bottom: 10px;
  }

  .authButton:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .inputText,
  .textareaText,
  .button {
    font-size: 14px;
  }

  .formContainer {
    padding: 16px;
    width: 100%;
    z-index: 1;
    margin-bottom: 30px;
    background-color: #34d1ed7e;
  }

  .brandContainer .inputField {
    width: 100%;
  }

  .formImage {
    width: 100%;
  }

  .formImage img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    justify-content: center;
  }
 
  
  .buttonContainer {
    gap: 12px;
  }
}

/* New styles for niche selection input field */
/* New styles for custom overlay */
.multiSelect {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 12px;
  z-index: 10;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.436);
}

.option {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #ea0063;
  color: white;
  border-radius: 20px;
}

.tag button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.tag button:hover {
  color: #ff74af;
}
