.headerContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  margin: 0 auto;
  padding: 15px 0;

  box-shadow: 0 2.8px 2.2px rgba(22, 22, 22, 0.215),
    0 6.7px 5.3px rgba(0, 0, 0, 0), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.085), 0 41.8px 33.4px rgba(0, 0, 0, 0.111),
    0 100px 80px rgba(0, 0, 0, 0);
}

.headerContent {
  width: 100%;
  max-width: 1280px;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 108.19px;
  height: 31.78px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.menuIcon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #272727;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.navLink {
  color: #272727;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
}
.navLink:hover {
  color: #ff006b;
}

.signFormButton {
  padding: 10px 18px;
  background-color: #ff006b;
  color: white;
  border: none;
  margin-right: 5px;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  transition: ease-out;
}

@media (max-width: 1024px) {
  .headerContent {
    padding: 0 20px;
  }

  .navigation {
    gap: 20px;
  }

  .navLink {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .navigation {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
  }

  .navigation.showNav {
    display: flex;
    max-height: 300px; /* Adjust based on the number of links */
    opacity: 1;
  }

  .navigation.hideNav {
    display: flex;
    max-height: 0;
    opacity: 0;
  }

  .navLink, .signFormButton {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .navLink:last-child, .signFormButton {
    border-bottom: none;
  }
}

@media (max-width: 480px) {
  .headerContent {
    padding: 12px;
  }

  .menuIcon {
    font-size: 20px;
  }
 .navLink{
  padding: 0;
 }
  .signFormButton{
   
  background-color: #ff006b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  transition: ease-out;
  }
 

  .logo {
    height: 30px;
  }

  .navigation {
    top: 60px; /* Adjust based on your header height */
  }

  .navigation.showNav {
    height: 400px; /* Adjust based on the number of links */
  }
}

