.dashContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
  font-family: "Gilroy", sans-serif;
}

.dashContainer p{
text-align: center;
font-family: Gilroy-Medium;
font-size: 30px;
}
.greet{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashContainer img{
  width: 400px;
}

.dashButton {
  text-align: center;
}

.dashButton button {
  padding: 10px 18px;
  background-color: #ff006b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .dashContainer img{
    width: 350px;
  }

}