/* Landing page css - hero CSs*/
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  font-family: Gilroy-Bold;
}
.landing-container p {
  margin-bottom: 0;
  font-weight: bold;
}

.upperImage img {
  width: 300px;
  height: auto;
  margin-top: 50px;
}

.lowerImage img {
  height: auto;
  width: 800px;
  margin-top: 20px;
}

.StartBtn {
  padding: 10px 60px;
  background-color: #ff006b;
  color: white;
  border: none;
  margin-right: 5px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.StartBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.949);
}

/* Common Section */
.Common-section {
  background-image: url("../../assets/texture.png");
  background-size: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.162);
 
}

/* Statistics Section */
.statistics-section {
  padding: 10px 0;
  background-color: #f6f6f666;
  background-size: 50%;
  font-family: Gilroy-Bold;

  text-align: center;
}

.statistics-section h2 {
  margin-top: 10px;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #000000;
  font-weight: bolder;
}

.statistics-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.stat-card {
  background-color: #f6f6f6ec;
  border: 1px solid #0d0d0d0f;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card h3 {
  font-size: 2rem;
  color: #ff006b;
}

.stat-card p {
  font-size: 1rem;
  color: #2bb2ec;
}

.stat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.949);
}

/* Brand section*/

.brands-section {
  background-color: #f6f6f666;
  color: #ddd;
  overflow: hidden;
  text-align: center;
  font-family: Gilroy-Bold;

  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
}
.brands-section h2 {
  font-weight: bolder;
  color: #000f1f;
  margin-top: 12px;
  font-size: 2rem;
}

.brands-logos {
  margin: 30px;
  display: inline-block;
  flex-wrap: wrap;
}

.brands-logos img {
  display: inline-block;
  margin: 20px 15px;
  width: 100px;

  transition: transform 0.3s ease;
}
.brands-logos img:hover {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  transform: translateY(-10px);
}

/* Features Section */
.features-section {
  text-align: center;
  font-family: Gilroy-Bold;
  padding: 50px 0;
  color: #0b0808ef;
  background-color: #f6f6f666;
}
.features-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: bolder;
}
.features-cards {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  gap: 12px;
  margin: 0 20px;
}
.feature-card {
  background: #ffffffc3;
  border: 1px solid #dddddd00;
  padding: 0 20px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.46);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.47);
}
.image-container {
  width: 100%;
  padding-top: 56.25%; /* Maintain aspect ratio (16:9) */
  position: relative;
  margin-bottom: 20px;
}
.image-container img {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100%;
}
.feature-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
  color: #ff006b;
}
.feature-card p {
  font-size: 1rem;
  text-align: center;
  font-family: Gilroy-medium;
  color: #0e0e0f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }
}

/* media 1024*/

@media (max-width: 1024px) {
  .landing-container {
    padding-top: 12px;
    gap: 24px;
    font-weight: Gilroy-Light;
  }

  .landing-container > * {
    flex-basis: 45%;
  }
}

@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
    padding-top: 12px;
    gap: 16px;
    font-weight: Gilroy-Light;
  }

  .landing-container > * {
    flex-basis: 100%;
  }

  .upperImage img {
    width: 200px;
    height: auto;
  }

  .lowerImage img {
    height: auto;
    width: 500px;
  }
}

@media (max-width: 500px) {
  .landing-container {
    padding-top: 5px;
    height: auto;
  }
  .landing-container p {
    text-align: center;
    margin: 2px;
    font-family: Gilroy-Light;
  }
  .upperImage img {
    width: 200px;
    height: auto;
    margin-top: 20px;
  }

  .lowerImage img {
    height: auto;
    width: 350px;
    margin-top: 20px;
    border: none;
    z-index: 2;
    box-shadow: none;
  }

  .StartBtn {
    background-color: #ff006b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    cursor: pointer;
  }
  .statistics-section {
    padding: 5px;
  }
  .statistics-section h2 {
    margin-top: 10px;
    font-family: Gilroy-Medium;
    font-size: 30px;
    font-weight: bolder;
  }

  .statistics-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .brands-section h2 {
    font-weight: bolder;
    color: #000f1f;
    margin-top: 12px;
    font-size: 2rem;
    font-family: Gilroy-Medium;
  }

  .features-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: Gilroy-Medium;
  }
}
