@font-face {
  font-family: Gilroy-Bold;
  src: url('./Fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: Gilroy-light;
  src: url('./Fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: Gilroy-medium;
  src: url('./Fonts/Gilroy-Medium.ttf');
}


