body {
  margin: 0;
  font-family: "Gilroy-Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Gilroy-Bold";   /*Can be any text*/
  src: local("Gilroy-Bold"),
    url("./Fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
}